<link rel="stylesheet" href="/Users/nataliamarkova/Code_The_Dream/lessons/life-planner/app/views/lives/css/custom.css">

<!--jumbotron-->
<h1 class = "jumbotron"> Create A Budget That Helps Achieve Your Goal </h1>
<!--/jumbotron-->

<%= render 'form', budget: @budget %>



